@import "@mixins";

.discount {
  transform: translateY(-50%);

  &__columns {
    @include adaptive-value("padding", 30, 15, 1);
    box-shadow: 0px 0px 14px rgba(148, 148, 148, 0.25);
    border-radius: 30px 0 0 30px;

    &>*:not(:last-child) {
      @include adaptive-value("margin-right", 15, 10, 1);
    }

    form {
      width: 277px;
    }
  }

  &__column {
    padding-left: 10px;

    &>input:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__text {
    max-width: 350px;
    @include adaptive-value("font-size", 21, 12, 1);
    @include adaptive-value("margin-bottom", 16, 10, 1);

    span {
      color: #0586E8;
    }
  }

  &__input {
    width: 100%;
    @include adaptive-value("padding", 18, 10, 1);
    border-radius: 8px;
    @include adaptive-value("font-size", 14, 10, 1);
    font-weight: 400;
    border: 1px solid #C4C4C4;
  }
}

.agreement {
  position: relative;
  color: #656565;
  @include adaptive-value("font-size", 12, 9, 1);
  font-weight: 300;
  cursor: pointer;
  padding-left: 25px;

  &__checkbox {
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #656565;
    border-radius: 50%;
    appearance: none;
    transition: 0.5s all ease;

    &:checked {
      border-color: #1D4FCF;
    }

    &:checked~.agreement__mark {
      display: inline-block;
      color: #1D4FCF;
    }
  }

  &__mark {
    padding-top: 3px;
    font-size: 12px;
    position: absolute;
    display: none;
    left: 3px;
  }
}

// Media

@media(max-width: 768px) {
  .discount {
    transform: none;
    margin-bottom: 20px;
  }
}