@import "@mixins";

header {
  box-shadow: 0px 0px 10px rgba(148, 148, 148, 0.25);

  & .support-social {
    margin-right: 25px;
  }
}

// Contacts
.icon {
  @include adaptive-value("font-size", 22, 18, 1);
  color: #C4C4C4;
}

.support-social__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  @include adaptive-value("font-size", 12, 10, 1);
}

.support-call__circle {
  display: flex;
  justify-content: center;
  @include adaptive-value("width", 40, 34, 1);
  @include adaptive-value("height", 40, 34, 1);
  align-items: center;
  border-radius: 50%;
  background-color: #1D4FCF;
  margin-right: 15px;
  box-shadow: 0px 0px 10px #1D4FCF;
  transition: 0.5s all ease;

  &:hover,
  &:focus {
    background-color: #1142be;
    box-shadow: 0px 0px 6px #1D4FCF;
  }
}

.icon.icon-call {
  color: #fff;
  padding-top: 4px;
}

.nav-link>.icon {
  padding-top: 4px;
}

.social>*:not(:last-child) {
  padding-right: 8px;
}

.support-social__link>i {
  padding-right: 8px;
  transition: 0.2s all ease;

  &:hover,
  &:focus {
    color: #212529;
  }
}

.support-social__line {
  width: 1px;
  height: 16px;
  background-color: #C4C4C4;
  margin: 0 8px;
}

.support-call__text>*:last-child {
  @include adaptive-value("font-size", 14, 12, 1);
  font-weight: 400;
}

.support-call__phone {
  @include adaptive-value("font-size", 18, 14, 1);
  font-weight: 700;
}

@media (max-width: 1024px) {
  .header-contacts {
    display: none;
  }
}