@import "~bootstrap/scss/bootstrap";
@import "../styles/custom.scss";
@import "../styles/header.scss";
@import "../styles/intro.scss";

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 1.17;
}