@import "~bootstrap/scss/bootstrap";
@import "custom.scss";
@import "../styles/header.scss";
@import "../styles/intro.scss";
@import "@mixins";

html,
body {
  overflow-x: hidden;
}

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 1.17;
}

.logo {
  &__link {
    padding-right: 20px;

    &>img {
      @include adaptive-value("height", 30, 24, 1);
    }
  }

  &__text {
    max-width: 155px;
    font-weight: 400;
    @include adaptive-value("font-size", 12, 10, 1);
  }
}

.title {
  @include adaptive-value("font-size", 30, 16, 1);
  font-weight: 800;
  color: #0586E8;
}

.line {
  width: 80px;
  height: 2px;
  background-color: #C4C4C4;
  @include adaptive-value("margin-top", 20, 2, 1);
  @include adaptive-value("margin-bottom", 40, 20, 1);
}

.button {
  width: 100%;
  @include adaptive-value("padding-top", 16, 10, 1);
  @include adaptive-value("padding-bottom", 16, 10, 1);
  background-color: #1D4FCF;
  border: none;
  border-radius: 8px;
  @include adaptive-value("font-size", 16, 10, 1);
  color: #fff;
  box-shadow: 0px 0px 10px #1D4FCF;
  transition: 0.5s all ease;

  &:hover,
  &:focus {
    background-color: #1142be;
    box-shadow: 0px 0px 6px #1D4FCF;
  }
}

.carousel-arrow {
  @include adaptive-value("font-size", 32, 25, 1);
  color: #1D4FCF;

  &_next {
    transform: rotate(-180deg);
    @include adaptive-value("padding-top", 35, 15, 1);
  }
}