@import "@mixins";

.intro {

  &__container {
    background: url(../images/preview.png) 115% 70% no-repeat;
    @include adaptive-value("background-size", 862, 350, 1);
  }

  &__row {
    @include adaptive-value("padding-top", 100, 20, 1);
  }

  &__lead {
    @include adaptive-value("margin-bottom", 80, 20, 1);
  }
}

// Lead
.lead {
  &__top {
    max-width: 630px;
    color: #000;
    @include adaptive-value("font-size", 30, 16, 1);
    font-weight: 800;

    span {
      color: #0586E8;
      font-weight: 800;
    }
  }

  &__line {
    @include adaptive-value("margin-top", 16, 10, 1);
    @include adaptive-value("margin-bottom", 16, 10, 1);
    width: 80px;
    height: 2px;
    background-color: #1D4FCF;
  }

  &__buttom {
    max-width: 500px;
    font-weight: 400;
    @include adaptive-value("font-size", 18, 10, 1);

    span {
      font-weight: 600;
    }
  }
}

// Features

.features {
  &>*:not(:last-child) {
    @include adaptive-value("margin-bottom", 15, 10, 1);
  }

  &__icon {
    padding-top: 4px;
    @include adaptive-value("padding-right", 20, 10, 1);
    @include adaptive-value("font-size", 32, 25, 1);
    color: #1D4FCF;
  }

  &__text {
    max-width: 240px;
    @include adaptive-value("font-size", 14, 10, 1);
    font-weight: 400;
  }
}

// Media

@media(max-width: 767px) {
  .intro {
    &__container {
      background-position: left;
      background-size: 120%;
    }

    &__row {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

@media(max-width: 425px) {
  .intro {
    &__container {
      background-position: 20% 100%;
      background-size: 150%;
    }

  }
}

@media(max-width: 768px) {
  .intro {
    &__row {
      @include adaptive-value("padding-bottom", 100, 40, 1);
    }
  }
}